nav {
    margin: 0 !important;
}

.monospaced {
    font-family: 'Ubuntu Mono', monospaced;
}

.details h2{
    font-weight: 400;
    font-size: 3em !important;
}
.add-to-cart{
    margin-bottom: 2%;
}
.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
    text-align: center;
/*    margin: 0 auto;*/
}
.btn-qty span{
    padding: 0 !important;
    vertical-align: bottom !important;
}
.add-to-cart .btn {
    border-radius: 0;
}

.btn-brand {
    background-color: #B73D5E;
    height: 46px;
    width: 160px;
    color: white;
}

.bottom-rule {
    border-bottom: 1px solid black;
    margin-bottom: 2%;

}
.product-info-secondary span{
    font-size: 1.5em !important;
    margin-right: 1em;
}
.product-qty{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.product-info-secondary{
    margin-top: 1em;
    margin-bottom: 1em;
}
.description{
    font-size: 2em;
}
.in-stock h5{
    font-size: 2em !important;
    font-weight: 400;
    color: #089E72;
}
.rating-stars span.glyphicon-star, .rating-stars span.glyphicon-star-empty{
    font-size: 1.5em;
    color: #B73D5E;
}
.rating-stars span{
    vertical-align: middle !important;
}
.rating-stars span.label-success{
    margin-left: 1em;
    font-size: .8em;
    background-color: #2bbbad;
}
.rating-stars{
    margin-bottom: 1em;
}
.assist-info{
    font-size: 1.5em;
}
/*
.image-responsive {
    height: 400px;
    max-width: 400px !important;
    margin: 0 auto;


}
*/
.phone-thumbs li img.btn{
    padding: 0;
    margin:0;
}
.product{
    margin: 0 auto !important;
  background-color: white;
  height: 400px;
  margin-bottom: 2em;
/*  margin-left: 6em;*/
  padding: 0em;
  max-width: 400px;
}

.phone-thumbs {
    padding: 0;
/*
    margin-left: 0 auto;
    margin-right: 0 auto;
*/
/*    margin-left: 1em;*/
    list-style: none;
    vertical-align: inherit;

}

.phone-thumbs img {
    margin: 0 auto;
    height: 100px;
/*    padding: 1em;*/
    width: 80px;
    border: none;
}

.phone-thumbs li {
    margin: 0 auto;
    border: none;
    background-color: white;
    display: inline-block;
    margin: 1em;
}

.atc{
    
}
.nav-pills>li {
    width: 44%;
    float: left;
    font-size: 1.5em;
    margin-right:5%;
}

.product-page {
    margin-top: 10%;
    margin-bottom: 5%
}

nav > div a, nav a.icons {
    color: white !important;
    font-size: 1.7em !important;
}

nav > span .icons img{
    vertical-align: baseline !important;
}
nav > span a.icons:nth-of-type(1){
    margin-top: 6%; 
}

footer > div > div a,
footer > div p {
    font-size: 1.7em
}

footer > div h5 {
    font-size: 2em;
}
footer > .container{
    margin: 0 auto;
}

/*
@media(max-width:991px){

    nav:before,.navbar-collapse:before, .navbar:after{
        display: none !important;
        content:none !important;;
    }
    .show{
       
    }
}
*/
@media(max-width: 991px){
    .btn-qty{
/*        margin:auto !important;*/
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    .addToCart{
        margin:0 !important;
        padding:0;
    }
    .product-qty{
        padding:0 !important;
        margin:0 !important;
    }
    .phone-thumbs{
        margin-top: auto;
        margin-left: 0 !important;
        margin-top: 5%;
        padding:0;
    }
    .phone-thumbs li, .phone-thumbs li img{
        padding: 0 !important;
/*        margin: auto !important;*/
        height: 70px;
        width: 55px;
        
    }
    .phone-thumbs li{
        margin-right: 0 auto !important;
        margin-left: 0 auto !important;
    }
}
@media(max-width:768px){
     a.navbar-brand img, a.navbar-brand{
        display:none !important;
        visibility:hidden !important;
    }
    nav:before,.navbar-collapse:before, .navbar:after{
        display: none !important;
        content:none !important;;
    }
    
    .product{
        height:40%
    }
    .phone-thumbs li{
        margin: 0 0auto;
        height:50px;
        width: 30px;
/*        padding: 2%;*/
    }
    .product-qty{
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom:5% !important;
    }
    .btn-qty, .atc{
        height: 40px !important;

    }
    span.btn-qty{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    input.btn-qty{
        width: 50% !important;
        margin: auto !important;
    }
    .addToCart{
        width: 100% !important;
        float:left !important;
    }
    .atc{
        width: 98%;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 2em !important;
        font-weight: bold;
    }
    .details h2{
        font-size: 2.2em !important;
    }
    p.description{
        font-size: 1.5em;
    }
}
@media(max-width: 576px){
    .details{
        display: none !important;
        visibility: hidden !important;
        margin: none !important;
        padding: none !important;;
        height: 0px !important;
        
    }
    .product-page::after{
        display:none !important;
        content:none !important;
    }
    img.product{
        min-height:1px !important;
        min-width: 70% !important;
    }
    .image-carousel{
        margin: 0 auto !important;
    }
    .mobile-view{
/*        height: 140vh !important;*/
    }
    .phone-thumbs li{
        width:19%;
    }
/*
    .phone-thumbs{
        margin-left: 0 auto !important;
        margin-right: 0 auto !important;
        width:90%;
    }
    .phone-thumbs li{
        float: left;
        margin:0%;
        margin: 4% !important;
        width:70px;
    }
    
    .phone-thumbs li img{
        width: 80px;
        height: 80px;
        margin: auto !important;
        padding: auto !important;
    }
*/
}
@media(max-width:575px){
    input.btn-qty{
        width:30% !important;
        padding:0 !important;
        
    }
    .phone-thumbs li{
        width: 19.5%;
        margin-left:auto;
        padding: 0;
    }
    .atc{
        font-size:1.2em !important;
    }
    .add-to-cart{
        margin-top: 3%;
    }
    .mobile-qty-btns{
        margin-top:5%;
        margin-left:0 !important;
        padding: 0 !important;
    }
    
    .mobile-title{
        font-size: 1.5em;
        margin: 0 auto;
    }
    .product{
        height: 30em !important;
    }
    .mobile-header{
        text-align: left;
    }
    .mobile-header h1{
        font-weight:400
    }
    .product-price{
        color:#B73D5E;
        font-size: 16px;
        font-weight:400
    }
    .glyphicon.glyphicon-star,.glyphicon-star-empty{
       color: gold;
    }
    #carouselExampleIndicator, .carousel-inner{
        height: 300px;
    }
    .carousel-image{
        height: 300px !important;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}