/*
nav {
    background-color: #B73D5E;
}

.navbar-light .links .nav-link {
    color: white;
    padding-left: 15% !important;
    font-size: 1.2em
}


.navbar-light .icons .nav-link {
    color: white;
    font-size: 1.2em;
    float: right;
}

.navbar-light .icons .nav-link img {
    width: 40px;
    height: 30px;
}

.navbar .navbar-nav {
    padding-left: 0%;
}
*/

body {
    margin: 0;
    padding: 0;
}
/*
.search-icon {
    font-family: fontAwesome;
    vertical-align: text-bottom !important;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    padding: .5%;
    background: inherit;
    top: 0%;
    right: 0;
    z-index: 99999;
    color: white;
}

.search .search-icon:before {
    color: white !important;
    font-family: fontAwesome;
    content: '\f002';
}

.search.active .search-icon:before {
    content: '\f00d';
    font-family: fontAwesome;
    color: white;
}

.search {
    margin: 0;
    position: fixed;
    top: 4%;
    right: 2.5%;
    height: 25px;
    width: 25px;
    z-index: 9999;
}

.search.active {
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 9999;
    right: 0;
    top: 0;
    opacity: .9;
}

.search input{
    display: none;
}
.search.active input{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 4px solid #fff;
    outline: none;
    font-size: 40px;
    padding: 10px 0;
}

.search-icon.active {
    min-width: 100% !important;
    min-width: 100 !important;
    position: absolute;
    z-index: 999999 !important;
    background: black;
}
*/
header #headerCarouselIndicators,
header #aboutHeaderCarouselIndicators {
    height: 500px;
    overflow: hidden;
}

header #headerCarouselIndicators img,
header #aboutHeaderCarouselIndicators img {
    height: 500px
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    padding: 0;
    width: 75px !important;
    height: 75px;
    color: #B73D5E !important;

}

.carousel-caption {
    top: 50%;
}

.weekly-special-text,
.popular-items-text {
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 5%;
    margin-bottom: 0%;
    width: 92%;

}

.card.col-lg-3 {
    padding: 0%;
    margin: 4%;

}

.card img {
    width: 100%;
    padding: 0%;
    max-height: 150px
}

.card .btn {
    padding: 4%;
    height: 3rem;
    width: 100% !important;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #B73D5E !important;
}

.contact-card,
.form-card {
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin-top: 10%;
}

.form-card form .form-group {
    margin: 0 auto;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.about-us-icon {
    margin-top: 5%;
}

.about-us-icon img {
    width: 10%;
    height: 50%;
    margin: 0 auto;
    background-color: brown;
    border-radius: 65%;
}


footer,
footer-template {
    z-index: 9999999 !important;
}

product-card {
    z-index: 0 !important;
}

button[type="submit"] {
    float: right !important;
}

/*SIDEBAR*/
