<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="../css/detail-page.css">
<link rel="stylesheet" href="../checkout-page/checkout-page.component.css">
<div class="container">
    <div class="row mx-auto" ng-if="itemListLength == 0">
        <div class="col-12 text-center">
            <h1 class="display-1">You haven't added any items to your cart </h1>
            <h3>Perhaps continue to browse our products or home page</h3>
        </div>
    </div>
    <div class="row" ng-if="itemListLength > 0">
        <div class="col-12 text-center">
            <h1 class="display-1">Your Cart</h1>
        </div>
        <div class="col-12 cart-list">
            <ul class="list-group">
                <li class="list-group-item row" ng-repeat="item in itemList">
                    <div class="row">
                        <div class="col-4"><span>{{item.quantity}}
                            <img class="img-thumbnail col-4" src="{{item.variant.image['src']}}"></span>
                        </div>
                        <div class="col-4 justify-content-center">
                            <h1 class="h3 col-4">{{item['title']}}</h1>
                        </div>
                        <div class="col-4 justify-content-end">
                            <a href="" ng-click="hideMe=false" class="justify-content-end btn btn-primary" ng-disabled="!hideMe">Edit</a>
                        </div>
                    </div>
                    <div class="row edit-row" ng-hide="hideMe">
                        <div class="col-4 justify-content-start"><a href="" ng-click="$ctrl.removeItem(item.id)" class="justify-content-start btn btn-danger">Delete</a></div>
                        <div class="col-4">
                            <span class="btn btn-default btn-lg btn-qty" ng-click="item.quantity = item.quantity - 1; $ctrl.updateItem(item.id, item.quantity)" ng-disabled="item.quantity<=1">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </span>
                            <input class="btn btn-default btn-md btn-qty" value="{{item.quantity}}" />
                            <span class="btn btn-default btn-lg btn-qty" ng-click="item.quantity = item.quantity + 1; $ctrl.updateItem(item.id, item.quantity)">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </span>
                        </div>
                        <div class="col-4"><a href="" class="btn btn-primary" ng-click="hideMe=true; $ctrl.updateItem(item.id, item.quantity)">Done</a></div>
                    </div>
                </li>

            </ul>
            <div class="row">
                <div class="col-12 checkout">
                    <button type="button" class="btn btn-primary btn-lg justify-content-end" ng-click="$ctrl.getCheckout()">Checkout</button>

                </div>
            </div>

        </div>
    </div>
</div>
