<link rel="stylesheet" href="../css/legal.css">
<div class="container body">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">Returns &amp; Exchanges</h1>
                    <hr>
                    <p class="description">
                        We want you to be satisfied with your purchase, however if you need to return or exchange a product , you must do so within 30 days of the order date.
                    </p>
                    <p class="description">
                        In order to keep our prices as low as possible, there are a couple of rules to follow:
                    </p>
                    <ul>
                        <li>Loose tea and herbal products must be unopened and include a copy of your invoice or packing slip with your order number. If any portion of the product is used, we cannot offer you an exchange or refund . After we received the returned product, we will refund you the credit.</li>
                        <li>For all other items, they must be in a new or unused condition with the original packaging present.</li>
                    </ul>
                    <p class="description">
                        Our digital images are as accurate as possible. However, different monitors may cause colors to vary slightly.
                    </p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Returning or Exchanging an Item</h2>
                    <p class="description">
                        Please contact us to let us know the reason for your return or exchange. You are responsible for any shipping fees for returning an item(s) to us. Return your package to:
                    </p>
                    <ul class="list-unstyled">
                        <li><a href="#">www.yontaiginseng.com</a></li>
                        <li>ATTN: Customer Service</li>
                        <li><a href="#"><address>6835 Stockton Blvd,<br>Sacramento, CA 95823</address></a></li>
                    </ul>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Receiving an Incorrect, Damaged, or Defective Item</h2>
                    <p class="description">Our apologies if you received an incorrect, damaged, or defective item, please contact us and we will get you a replacement as soon as possible.</p>
                    <p class="description">Delivery charges are nonrefundable, unless it was our error.</p>
                    <p class="description bold">Customer Service:</p>
                    <ul class="list-unstyled">
                        <li><a href="#">yongtaiginseng@gmail.com</a></li>
                        <li><a href="#">(916) 393-0333</a></li>
                        <li>Monday – Friday, 10 am – 5 pm PT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
