<link rel="stylesheet" href="nav-bar/nav-bar.css">



<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="index.html"><img id="logo" src="img/Logo.png"></a>
    <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav links col-lg-6">
            <a class="nav-item nav-link" href="index.html">Home</a>
            <a class="nav-item nav-link" href="about.html">About</a>
            <a class="nav-item nav-link" href="product.html">Products</a>
            <a class="nav-item nav-link" href="contact.html">Contact</a>
        </div>
    </div>
    <span class="justify-content-end">
        <a class="nav-link justify-content-end icons" href="#">Sign In</a>
        <a class="nav-link justify-content-end icons" href="#"><span>3</span><img src="img/cart-icon.png"></a>
    </span>
</nav>
