body{ 
margin: 0 auto;
}
nav {
    background-color: #B73D5E !important;
    z-index:9999 !important;
/*    opacity: .8;*/
}
nav.bg-dark{
    background-color: rgba(33,33,33,.8) !important;
}
.navbar-dark .nav-item .nav-link {
    color: white;
    padding-left: 12% !important;
    font-size: 1.2em;
    z-index:9999 !important;
}


.navbar-dark .icons{
    color: white;
    font-size: 1.2em;
    float: right;
    z-index: 9999;
}

span img.cart-icon {
    width: 40px;
    height: 35px;
    vertical-align: text-bottom;
    
}

.navbar .navbar-nav {
    padding-left: 0%;
}

.icons > img{
    height: 40px !important;
    width: 40px !important;
}

#cartTotal{
/*    font-size: 1em;*/
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 9999;
    height:30px;
    width:30px;
    margin-top:-22px;
    margin-left:20px;
    padding-bottom: 1%0 !important;
    z-index:9999;
/*    border-radius: 100%;*/
/*
    border: #B73D5E solid white;
    background-color: rgba(255,255,255,.8);
*/
    
/*    padding:-3%;*/
}

li.dropdown:hover>.dropdown-menu{
    display: block !important;
    opacity: 1 !important;
}
.dropdown-item{
    opacity: 100% !important;
}
.dropdown-item img{
    height: 25px;
    width: 25px;
    float: left;
}
.dropdown-menu{
    opacity: 1.2 !important;
}
.navbar-nav > .nav-item{
    margin-left: 15% !important;
}
.dropdown-toggle::after, .dropdown-toggle::before{
    content: none !important;
}
.dropdown-menu{
    min-width: 100% !important;
}
.dropdown-menu > .dropdown-item{
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;
}
.dropdown-menu ul, .dropdown-item, .dropdwon-menu > ul > a {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.dropdown-menu, .dropdown-item{
    opacity: 1 !important;
    padding-bottom: 0rem !important;
    margin-bottom: 0 !important;
    margin: 0 auto;
    width: 245%;
    white-space: normal !important;
}

.dropdown-item img{
    height: 50px;
    width: 100px;
}
.dropdown-item p{
    float: left;
    margin: 0 auto !important;
    padding: 0;
    text-align: left !important;
    font-size: .8em;
}

.cart-item{
    width: 100% !important;
    word-break: normal;
}
.btn-checkout {
    margin: 0 auto;
    min-width: 95%;
}
.dropdown-divider{
    margin-bottom: 0 !important;
    padding-bottom:0 !important;
}

ul > li > a.icons{
    font-size:1.5em !important;
    vertical-align: bottom;
    width:95px;
    height: 50px;
}
.nav-link.icons > .cart-icon{
    height: 35px !important;
    width: 40px !important;
    margin-right: .em !important;
    vertical-align: text-bottom;
}

@media(max-width:991px){
    a.navbar-brand{
        display:none;
    }
    .icons a {
        font-weight:400;
        line-height: 30px;
        margin: 0 auto;
        padding-bottom:0;
    }
    .icons img{
        vertical-align: bottom;
    }
    
}