<link rel="stylesheet" href="../css/legal.css">
<div class="container body">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">Shipping Policy</h1>
                    <hr>
                    <h2 class="title">Packaging of Loose Product</h2>
                    <p class="description">
                        One quantity of loose leaf tea on our website is equivalent to 4 oz. (1/4 lb.) of tea. Loose leaf tea will come in a ziplock bag for easy storage. Every tea has a different density; some teas may take up to 2 bags because they are light and fluffy, while others make only take up only half a bag because they’re are compact and dense. If you order 1 pound of the loose leaf teas, you will receive two 8 oz. bags of tea or one 1 lb. bag of tea, depending on the size of the tea leaves. If you really want your order to be separated into 4 oz. bags, please contact us at yongtaiginseng@gmail.com. Please have your order number ready and let us know what you'd like to do. We are also able to do the same for ginseng and delicacies.
                    </p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Destinations
                    </h2>
                    <p class="description">
                        Yongtai Ginseng ships to all 50 states and US Territories including American Samoa, Puerto Rico, Guam, and the US Virgin Islands. We do not ship to APO/FPO addresses or P.O. Boxes.</p>

                    <p class="description">The orders for out of US, the buyer need pay the customs duties by yourself.
                    </p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Order Tracking</h2>
                    <p class="description">o track your package, please go to the <a href="#">UPS</a>/<a href="#">USPS</a> website, and enter the tracking number sent to you in your order confirmation e-mail. If you do not see the e-mail, please check your Spam folder as it may have ended up there. You can also contact us at<a href="#">yongtaiginseng@gmail.com</a>.</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">
                        Shipping Time

                    </h2>
                    <p class="description">If your order is to be shipped within Califrornia, your order will reach you in 3 to 5 days from the time it leaves our warehouse in Los Angeles, Ca. For all other states, it can take 5 to 10 days. Please be aware that the shipping companies who serve Yongtai Ginseng do not deliver products on weekends or holidays. Shipping charges are based on the weight of the item(s) you purchased and the level of service you select. Yongtai Ginseng only ships products to addresses in the United States. Please note that customers pay for the cost of shipping on returned merchandise. </p>
                    <p class="description">Yongtai Ginseng is not responsible for any delays or errors made by carriers once the package has left our hands.</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Payment, Pricing &amp; Promotions</h2>
                    <p class="description">
                        Sales tax is not dependent on shipping destination. You will be charged the California Tax Rate (sacramento), which is currently at 9.75%, in addition to shipping and handling on all products as applicable. Shipping promotions do not apply to orders shipping to US Territories. To estimate when a package will be delivered, the following should be considered:
                    </p>
                    <ul>
                        <li>Credit card authorization and address verification must be received prior to order processing.</li>
                        <li>Orders with “Out of Stock” item(s), may take additional time to process and ship. Please see “Shipping Alternatives” below for more information.</li>
                    </ul>
                    <p class="description">Yongtai Ginseng accepts the following forms of payment:</p>
                    <ul>
                        <li>Visa</li>
                        <li>MasterCard</li>
                        <li>American Express</li>
                        <li>Discover</li>
                        <li>Paypal</li>
                    </ul>
                    <p class="description">Your credit card will be charged once your order is processed.</p>
                    <p class="description">Yongtai Ginseng gift cards are only redeemable at Yongtai Ginseng retail stores. They are not redeemable online at the moment.</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Shipping Alternatives</h2>
                    <p class="description">Domestically, we ship via USPS /UPS Mail, depending on the package weight and the region in which you live. Choosing a faster method of shipping does not decrease the processing time of an order, it only decreases the time it takes to get delivered.</p>
                    <p class="description">Yongtai Ginseng accepts orders online 24 hours a day, 7 days a week. However, Friday and weekend orders are processed and prepared for shipping beginning the next business day. Therefore, these days are not included in the time needed to process your order. Most orders will be shipped within 3 business days if all the items ordered is in stock. If an item is out of stock, we will notify you by e-mail or by phone. You can choose another equal price item for instead. Or, you can choose to receive a refund in which we will refund you after the confirmation of your payment. Once we have issued a refund, we will notify you again by e-mail or by phone.
                    </p>
                    <p class="description">ALL BIRD'S NESTS NEED KEEP REFRIGERATE, PROPOSAL NEXT DAY SHIPPING OR 2ND DAY SHIPPING.</p>
                    <p class="description">Use other shipping options cause the deterioration of the products, are not refundable.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Other Row-->
     <div class="row d-none">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">配送方式</h1>
                    <hr>
                    <h2 class="title">散貨的包裝</h2>
                    <p class="description">
                       在永泰網站訂購茶葉，數量“1”相當於4盎司（1/4磅）的茶葉。為方便儲存，散茶葉會用夾鏈袋裝。如果您訂購1磅的茶葉，我們將會根據茶葉的大小，把它分成2袋8盎司，或是1袋1磅。如果您真的需要4盎司的包裝，請發電子郵件到 yongtaiginseng@gmail.com 。請準備好您的訂單號，並告知我們您的要求。對於花旗參以及海味，我們也會同樣處理。
                    </p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">配送範圍
                    </h2>
                    <p class="description">
                        永泰可以郵寄商品到全美50個州以及美國薩摩亞群島，波多黎各，關島和維爾京群島；可是我們不郵寄到APO/FPO或P.O. Boxes。国际订单如遇关税及报关问题，由收件人自行负责。</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">訂單追蹤</h2>
                    <p class="description">您可透過登錄<a href="#">USPS</a>/ <a href="#">UPS</a>網站，輸入我們通過電郵發送的訂單跟蹤號碼來跟蹤您的包裹。如果您沒有看到郵件，請檢查您的垃圾郵件文件夾，因為有可能被過濾了。您也可以發送郵件到 <a href="#">yongtaiginseng@gmail.com</a>。</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">
                        發貨時間

                    </h2>
                    <p class="description">從商品離開我們倉庫起算，加州的訂單會在3-5個工作天送達。外州的訂單大約需時5-10個工作天送達。請注意：負責郵寄永泰商品的快遞公司在周末及節假日皆不送貨。郵寄費用是根據您購買的商品重量和您所選擇的郵寄方式而定的。永泰只郵寄商品到美國境內。請注意，如因顧客自身原因需退換貨，顧客需自行承擔退貨時產生的運費。</p>
                    <p class="description">對於運送過程中造成的延誤或錯誤，本公司不負任何責任。</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">付款、價格及促銷活動</h2>
                    <p class="description">
                        消費稅不取決於運送目的地。除了郵寄和處理費用外，您將需支付加州（）的消費稅，目前稅率為9.75%。郵寄促銷活動不包括美國領土範圍外的訂單。預算包裹寄送時間，需考慮以下情況：
                    </p>
                    <ul>
                        <li>信用卡審核和地址驗證必須在訂單處理前收到。</li>
                        <li>如果所訂的商品暫無庫存，將會需要更多的時間處理和郵寄。詳情請參閱“郵寄方案”</li>
                    </ul>
                    <p class="description">永泰接受以下支付方式：</p>
                    <ul>
                        <li>Visa</li>
                        <li>MasterCard</li>
                        <li>American Express</li>
                        <li>Discover</li>
                        <li>Paypal</li>
                    </ul>
                    <p class="description">一旦你的訂單被受理，我們將會從您的信用卡收取貨款。</p>
                    <p class="description">永泰禮金卡僅限各零售實體店使用。目前暫未能用於網購。</p>
                </div>
            </div>
            <hr class="divider-dark">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">郵寄方案</h2>
                    <p class="description">美國本土訂單，我們將通過UPS / USPS 郵寄貨品，運費取決於包裹的重量以及您居住的地區。選擇更快的郵寄方式不代表減少訂單處理的時間。它只是減少包裹的遞送時間。</p>
                    <p class="description">永泰接受全天24小時，每週7天的網上訂單。但是，週五及週末的訂單將於下一個營業日開始處理和付運。所以，這些時間不被計入處理您的訂單所需的時間。大部分訂單在有庫存的情況下會在3個工作天內付運。若訂單內有某一貨品暫缺貨，我們會以電子郵件或電話聯繫的方式通知您。您可選擇另一等價貨品代替。也可選擇退款，我們將會在收到您的付款確認後兩周內處理退款。退款被處理後，我們會以電子郵件或電話聯繫的方式通知您。
                    </p>
                    <p class="description">我们的天然燕窝和蜂王浆等生鲜产品需要保持低温冷藏，建议选择Next Day Shipping 或者 2ND Day Shipping. 由于选择其他邮寄方式导致产品质量问题，概不负责。</p>
                </div>
            </div>
        </div>
    </div>
</div>
