<div class="container product-page">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/detail-page.css">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <img class="d-block w-100 image-responsive product" ng-src="{{$ctrl.mainImageUrl}}" alt="First slide">

                    <ul class="phone-thumbs image-responsive">
                        <li ng-repeat="img in product.pic_urls">
                            <img class="img-fluid img-thumbnail" src={{img}} ng-click="$ctrl.setImage(img)" />
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-6 details">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{product.title}}</h2>
                </div>
            </div>
            <div class="row in-stock">
                <div class="col-md-12">
                    <h5>2 In Stock</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 product-info-secondary">
                    <span class="label label-primary">{{$ctrl.product.type}}</span>
                    <span class="monospaced">No. {{$ctrl.product.sku}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        Classic film camera. Uses 620 roll film. Has a 2&frac14; x 3&frac14; incg image size.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 rating-stars">
                    <span class="sr-only">Four out of Five Stars</span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="label label-success">61</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 class="product-price">{{product.vars[0].price | currency:"USD: $"}}</h2>
                </div>
            </div>
            <!-- end row -->

            <div class="row add-to-cart">
                <div class="col-md-5 product-qty">
                    <span class="btn btn-default btn-lg btn-qty" ng-click="$ctrl.updateQuantity(-1)">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </span>
                    <input class="btn btn-default btn-lg btn-qty" value="{{$ctrl.quantity}}" />
                    <span class="btn btn-default btn-lg btn-qty" ng-click="$ctrl.updateQuantity(1)">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-lg btn-brand btn-full-width atc" ng-click="$ctrl.addItem(product['id'],$ctrl.quantity)">
   Add to Cart
  </button>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-md-12 bottom-rule"></div>
            </div>
            <!-- end row -->

            <div class="row assist-info">
                <div class="col-md-12 top-10 ">
                    <p>To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>
