<div class="container product-page">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/detail-page.css">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 mobile-view">
            <div class="col-12 text-center d-sm-none">
                <div class="row mobile-header mt-5 mb-5">
                    <div class="col-12 mb-3">
                        <h1 class="display-4" ng-if="langPos===0">{{product['title-en']}}</h1>
                        <h1 class="display-4" ng-if="langPos===1">{{product['title-ch']}}</h1>
                    </div>
                    <div class="col-12">
                        <h4 class="monospace">Product #: {{$ctrl.product.sku}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 mx-auto image-carousel mb-5">

                <div id="carouselExampleIndicators" class="carousel slide d-sm-none" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" ng-repeat="img in product.pic_urls" data-ng-class={active: $first} data-slide-to="{{$index}}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item" data-ng-repeat="img in product.pic_urls" data-ng-class="{active : $first}">
                            <img class="carousel-image" data-ng-src="{{img}}" alt=" carousel {{$index}}" />
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block">

                
                <img class="d-block w-100 image-responsive product" ng-src="{{$ctrl.mainImageUrl}}" alt="First slide">

                <ul class="phone-thumbs image-responsive text-center mx-auto">
                    <li ng-repeat="img in product.pic_urls">
                        <img class="btn img-fluid img-thumbnail mx-auto" src={{img}} ng-click="$ctrl.setImage(img)" />
                    </li>
                </ul>
                </div>


            </div>


            <div class="col-12 mx-auto d-sm-none">
                <div class="row">
                    <div class="col-8">
                        <h2 class="product-price">Only {{product.vars[0].price | currency:"$"}}</h2>
                    </div>
                    <div class="col-4">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 mobile-qty-btns d-sm-none">
                <div class="row">
                    <div class="col-5"><button class="btn btn-lg btn-brand btn-full-width atc" ng-click="$ctrl.addItem(product.vars[0].id, $ctrl.quantity)" ng-if="langPos==0">
   Add to Cart
  </button>
                        <button class="btn btn-lg btn-brand btn-full-width atc" ng-click="$ctrl.addItem(product.vars[0].id, $ctrl.quantity)" ng-if="langPos==1">
  添加到购物车
                </button></div>
                    <div class="col-7">
                        <div class="row add-to-cart">
                            <div class="col-12 col-md-6 col-lg-6 product-qty">
                                <span class="btn btn-default btn-lg btn-qty" ng-click="$ctrl.updateQuantity(-1)">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </span>
                                <input class="btn btn-default btn-lg btn-qty" value="{{$ctrl.quantity}}" />
                                <span class="btn btn-default btn-lg btn-qty" ng-click="$ctrl.updateQuantity(1)">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-sm-none">
                    <div class="col-12">
                        <div class="tabbable tabs-below">
                            <ul class="nav nav-pills">
                                <li ng-class="{active: selectedTab == 1}">
                                    <a href="" ng-click="selectedTab = 1"><span ng-if="langPos==0">Description</span><span ng-if="langPos==1">描述</span></a>
                                </li>
                                <li ng-class="{active: selectedTab == 2}">
                                    <a href="" ng-click="selectedTab = 2"><span ng-if="langPos==0">Uses</span><span ng-if="langPos==1">用途</span></a>
                                </li>
                            </ul>

                            <div class="tab-content" ng-show="selectedTab == 1" ng-if="langPos==0">
                                1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="tab-content" ng-show="selectedTab == 1" ng-if="langPos==1">
                                Chinese Stuff
                            </div>

                            <div class="tab-content" ng-show="selectedTab == 2" ng-if="langPos==0">
                                2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="tab-content" ng-show="selectedTab == 2" ng-if="langPos==1">
                                Chinese Uses
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-6 col-md-6 details">
            <div class="row">
                <div class="col-md-12">
                    <h2 ng-if="langPos==0">{{product['title-en']}}</h2>
                    <h2 ng-if="langPos==1">{{product['title-ch']}}</h2>
                </div>
            </div>
            <div class="row in-stock">
                <div class="col-md-12">
                    <h5 ng-if="product.vars[0].available == true"> In Stock</h5>
                    <h5 ng-if="product.vars[0].available != true"> Not In Stock</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 product-info-secondary">
                    <span class="label label-primary">{{$ctrl.product.type}}</span>
                    <span class="monospaced">No. {{$ctrl.product.sku}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description" ng-if="langPos==0">
                        English Description
                    </p>
                    <p class="description" ng-if="langPos==1">
                        Chinese Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 rating-stars">
                    <span class="sr-only" ng-if="langPos==0">Four out of Five Stars</span>
                    <span class="sr-only" ng-if="langPos==1">
五星中的四星</span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="label label-success">61</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 class="product-price">{{product.vars[0].price | currency:"USD: $"}}</h2>
                </div>
            </div>
            <!-- end row -->

            <div class="row add-to-cart">
                <div class="col-12 col-md-6 col-lg-6 product-qty">
                    <span class="btn btn-default btn-lg btn-qty" ng-click="$ctrl.updateQuantity(-1)">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </span>
                    <input class="btn btn-default btn-lg btn-qty" value="{{$ctrl.quantity}}" />
                    <span class="btn btn-default btn-lg btn-qty" ng-click="$ctrl.updateQuantity(1)">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </span>
                </div>
                <div class="col-12 col-md-4 addToCart">
                    <button class="btn btn-lg btn-brand btn-full-width atc" ng-click="$ctrl.addItem(product.vars[0].id, $ctrl.quantity)" ng-if="langPos==0">
   Add to Cart
  </button>
                    <button class="btn btn-lg btn-brand btn-full-width atc" ng-click="$ctrl.addItem(product.vars[0].id, $ctrl.quantity)" ng-if="langPos==1">
  添加到购物车
  </button>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-md-12 bottom-rule"></div>
            </div>
            <!-- end row -->

            <div class="row assist-info d-none d-md-block">
                <div class="col-md-12 top-10 ">
                    <p>To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
                </div>
            </div>
            <!-- end row -->

            <!-- Nav Tabs -->
            <div class="tabbable tabs-below">
                <ul class="nav nav-pills">
                    <li ng-class="{active: selectedTab == 1}">
                        <a href="" ng-click="selectedTab = 1"><span ng-if="langPos==0">Description</span><span ng-if="langPos==1">描述</span></a>
                    </li>
                    <li ng-class="{active: selectedTab == 2}">
                        <a href="" ng-click="selectedTab = 2"><span ng-if="langPos==0">Uses</span><span ng-if="langPos==1">用途</span></a>
                    </li>
                </ul>

                <div class="tab-content" ng-show="selectedTab == 1" ng-if="langPos==0">
                    1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="tab-content" ng-show="selectedTab == 1" ng-if="langPos==1">
                    Chinese Stuff
                </div>

                <div class="tab-content" ng-show="selectedTab == 2" ng-if="langPos==0">
                    2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="tab-content" ng-show="selectedTab == 2" ng-if="langPos==1">
                    Chinese Uses
                </div>
            </div>

        </div>
    </div>
</div>
