.search-icon {
    font-family: fontAwesome;
    vertical-align: text-bottom !important;
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    padding: .5%;
    background: inherit;
    top: 0%;
    right: 0;
    z-index: 99999;
    color: white;
}

.search .search-icon:before {
    color: white !important;
    font-family: fontAwesome;
    content: '\f002';
    /*    top:25%;*/
}

.search.active .search-icon:before {
    content: '\f00d';
    font-family: fontAwesome;
    color: white;
}

.search {
    margin: 0;
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    height: 25px;
    width: 25px;
    /*    background: pink;*/
    z-index: 99999 !important;
}

.search.active {
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 9999;
    right: 0;
    top: 0;
    opacity: .9;
}

.search input{
    display: none;
}
.search.active input{
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 4px solid #fff;
    outline: none;
    font-size: 40px;
    padding: 10px 0;
}

.search-icon.active {
    min-width: 100% !important;
    min-width: 100 !important;
    position: absolute;
    z-index: 999999 !important;
    background: black;
}
.search-menu{
    position:absolute;
    top:20%;
    left: 30%;
    width: 100%;
    padding: 2.5%;
}
.search-menu > .search-item a {
    color: white !important;
}
.search-item{
/*    padding:1%;*/
}
.search-item  img{
    border-radius: 50%;
}

@media(max-width:576px){
    .search{
    top: 4% ;
    }
}

@media(max-width:450px){
    .search input{
        width:60% !important;
    }
    .search{
        top: 2%;
        
    }
    .search-menu{
        left:5%;
    }
    .search-item{
        width:100%;
    }
}

