<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/about.css">
<header>
    <video autoplay muted loop id="aboutBackground">
                    <source src="../video/nature.mp4" poster="../img/about-header.jpg" type="video/mp4">
                </video>

    <div class="content">
        <h2 class="display-1 about-header-text">Yongtai Ginseng</h2>
        <h5 class="display-4 about-header-text">Stockton's number one provider in herbal remedies</h5>
    </div>
    <div class="arrow bounce">

    </div>
 
</header>

<div class="container">
    <div class="row aboutus mx-auto">

        <div class="col-12 col-md-12 col-lg-6">
            <h2 class="display-3 aboutus-header">About Us</h2>
            <p class="description" ng-if="langPos == 0">Established in 2014 in Sacramento, California. Yongtai Ginseng has become the premier and trusted retailer of Asian products in Northern California。 Born from generations of herbal and tea wisdom, we take pride in offering the best in Chinese herbs, premium loose teas, ginseng, Asian delicacies, housewares, and fine wine and spirits.
            </p>
            <p class="description" ng-if="langPos == 1">永泰参茸公司於2014年加州沙卡缅度，至今成為北加州地區較具規模的亞洲商品誠信零售商。傳承世代經營藥材及茶葉的精髓，永合豐經營的貨品琳瑯滿目，品種繁千，包括有中藥材、雀石茗茶、花旗人參、亞洲美食、家用電器、世界名酒等。
            </p>
        </div>
        <div class="col-12 col-md-12 col-lg-6 img-div">

            <div class="img-container">
                <img class="img-1" src="../img/about-1.jpg">
                <img class="img-2" src="../img/about-2.jpg">
            </div>
        </div>

    </div>
</div>
<div class="row summary">
    <div class="col-12 text-center mt-4 mx-auto summary-header">
        <h1 class="title mb-4">Ginseng Can Benefit Your Life In Ways You Have Never Imagined</h1>
        <h2 class="lead mt-auto mx-auto">Ginseng provides you the perfect balance between health benefits, medicinal use, and theraputic effects. These aspects combined result in an increase in quality of life.</h2>
    </div>
    <div class="col-12 mb-2 mt-0">
        <div class="row icon-row mx-auto mt-auto">
            <div class="col-md-12 col-lg-3 mx-auto text-center">
                <div class="health mx-auto"></div>
                <h3 class="icon-title">Health</h3>
                <h5 class="lead icon-description text-center">Our Ginseng boosts energy, lowers blood sugar and cholesterol levels, and can treat diabetes.</h5>
            </div>
            <div class="col-lg-1 mx-auto text-center d-none d-lg-block">
                <div></div>
                <div class="plus-icon"></div>
            </div>
            <div class="col-md-12 col-lg-3 text-center">
                <div class="therapy"></div>
                <h3 class="icon-title">Therapy</h3>
                <h5 class="lead icon-description">Our Ginseng can impact your life positively by reducing anxiety, stress, and promoting relaxation.</h5>
            </div>
            <div class="col-lg-1 mx-auto text-center d-none d-lg-block">
                <div class="equal-icon"></div>
            </div>
            <div class="col-md-12 col-lg-3 text-center">
                <div class="happiness"></div>
                <h3 class="icon-title">Happiness</h3>
                <h5 class="lead icon-description">Through the use of our ginseng you will experience a noticable change in your life.</h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mission">
        <div class="col-12 col-md-12 col-lg-6 d-none d-lg-block">

            <div class="img-container">
                <img class="img-1" src="../img/about-1.jpg">
                <img class="img-2" src="../img/about-2.jpg">
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <h2 class="display-3 mission-header">Our Origins</h2>

            <p class="description" ng-if="langPos==0">

                The ginseng &amp; wellness products offered by Yongtai Ginseng will meet or exceed your expectations of the high quality, effectiveness and consideration you demand in order to maintain your healthy lifestyle. Yongtai has taken the time to develop and research our ginseng and wellness products intent on ensuring they meet your high standards and increase the state of wellness you deserve. Enrich your capabilities. Balance your well-being. Thrive for the best.

            </p>
            <p class="description" ng-if="langPos == 1"> 永泰人参提供的人参和保健产品将达到或超出您对高品质，有效性的期望，以保持您的健康生活方式。 永泰花时间开发和研究我们的人参和健康产品，旨在确保它们符合您的高标准并增加您应得的健康状态。丰富您的体能。平衡你的心态。茁壮成长。

            </p>
        </div>
        <div class="col-12 col-md-12 col-lg-6 d-md-block d-lg-none">

            <div class="img-container">
                <img class="img-1" src="../img/about-1.jpg">
                <img class="img-2" src="../img/about-2.jpg">
            </div>
        </div>

    </div>
</div>
<div class="mt-5 about-contact-form">
    <div class="col-10 mx-auto">
        <h2 class="sub-title text-center">If you would like to get in touch please feel free to contact us</h2>
        <form name="myForm" ng-model="form" id="contact-form" validate>
            <div class="form-group">
                <label for="userName">Name</label>
                <input type="text" ng-model="user.name" class="form-control" id="userName" name="name" aria-describedby="namelHelp" placeholder="Enter name" required>
                <p ng-show="myForm.name.$invalid && myForm.name.$touched" class="required-message">Name is required</p>
            </div>
            <div class="form-group">
                <label for="userEmail">Email address</label>
                <input type="email" ng-model="user.email" class="form-control" id="userEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <p ng-show="myForm.name.$invalid && myForm.name.$touched" class="required-message">Email is required</p>
            </div>
            <div class="form-group">
                <label for="userMessage">Message</label>

                <textarea class="form-control" ng-model="user.message" id="userMessage" name="message" rows="3" placeholder="Enter Message" required></textarea>
                <p ng-show="myForm.name.$invalid && myForm.name.$touched" class="required-message">Message is required</p>
            </div>

            <button ng-disabled="myForm.$invalid" ng-click="sendMail()" data-toggle="modal" data-target="#formModal" class="btn btn-primary mb-5">Submit</button>

        </form>
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-dark mx-auto text-center ml-5" id="exampleModalLabel">Thank you for contacting us!</h2>
                        <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body text-center text-dark">
                        <h5>We'll get back to you as soon as possible!</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
