<link rel="stylesheet" href="../css/about.css">
<header>
    <!--
    <div id="aboutHeaderCarouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
-->
    <video autoplay muted loop id="aboutBackground">
                    <source src="../video/nature.mov" type="video/mp4">
                </video>

    <div class="content">
        <h2 class="display-1">Yongtai Ginseng</h2>
        <h5 class="display-4">Stockton's number one provider in herbal remedies</h5>
    </div>
      <div class="arrow bounce">

</div>
    <!--
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h2>Yongtai Ginseng</h2>
                <h5>Stockton's number one provider in herbal remedies</h5>
            </div>
        </div>
    </div>
-->
</header>

<div class="container">
    <div class="row about-us">
        <div class="about-us-icon text-center col-12"><img class="mx-auto d-block img-thumbnail" src="img/img_85340.png"></div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2 class="display-3">About Us</h2>
            <p class="description" ng-if="langPos == 0">Established in 2014 in Sacramento, California. Yongtai Ginseng has become the premier and trusted retailer of Asian products in Northern California。 Born from generations of herbal and tea wisdom, we take pride in offering the best in Chinese herbs, premium loose teas, ginseng, Asian delicacies, housewares, and fine wine and spirits.
            </p>
            <p class="description" ng-if="langPos == 1">永泰参茸公司於2014年加州沙卡缅度，至今成為北加州地區較具規模的亞洲商品誠信零售商。傳承世代經營藥材及茶葉的精髓，永合豐經營的貨品琳瑯滿目，品種繁千，包括有中藥材、雀石茗茶、花旗人參、亞洲美食、家用電器、世界名酒等。
            </p>
        </div>
        <div class="col-6">
            <div class="img-container">
                <img class="img-1" src="../img/about-1.jpg">
                <img class="img-2" src="../img/about-2.jpg">
            </div>
        </div>
    </div>
    <div class="row mission">
        <div class="col-lg-6"><img></div>
        <div class="col-lg-6">
            <h2 class="display-4">Our Origins</h2>
            <p class="description" ng-if="langPos == 0">
                The ginseng &amp; wellness products offered by Yongtai Ginseng will meet or exceed your expectations of the high quality, effectiveness and consideration you demand in order to maintain your healthy lifestyle. Yongtai has taken the time to develop and research our ginseng and wellness products intent on ensuring they meet your high standards and increase the state of wellness you deserve. Enrich your capabilities. Balance your well-being. Thrive for the best.

            </p>
            <p class="description" ng-if="langPos == 1">
                永泰人参提供的人参和保健产品将达到或超出您对高品质，有效性的期望，以保持您的健康生活方式。 永泰花时间开发和研究我们的人参和健康产品，旨在确保它们符合您的高标准并增加您应得的健康状态。丰富您的体能。平衡你的心态。茁壮成长。

            </p>
        </div>
    </div>
    <div class="row mt-5 contact-form">
    <div class="col-10 mx-auto">
        <h2 class="sub-title text-center">Please contact us if you have any further inquiries</h2>
        <form>
            <div class="form-group">
                <label for="userName">Name</label>
                <input type="text" class="form-control" id="userName" aria-describedby="namelHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="userEmail">Email address</label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="userMessage">Message</label>
                <textarea class="form-control" id="userMessage" rows="3" placeholder="Enter Message"></textarea>
            </div>
            <div class="justify-content-end">
                <button type="submit" class="btn justify-content-end btn-primary mb-5">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
