<div class="row herbal" id="herbal">
    <div class="col-12"><h2 class="display-4">Herbal</h2></div>
    <div class="col-lg-3 col-md-5 col-sm-5 card" ng-repeat="product in $ctrl.products" ng-if="product.type == 'herbal'">
        <img class="card-img-top" src="{{product.pic_urls[0]}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h5 class="card-subtitle mb-2" ng-repeat="vars in product.vars">{{vars.price | currency }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Read More</a>
            <a href="#" class="btn btn-md btn-primary">Add to Cart</a>
        </div>
    </div>
</div>

<div class="row delicacies" id="delicaies">
    <div class="col-12 "><h2 class="display-4">Delicaies</h2></div>
    <div class="col-lg-3 col-md-5 col-sm-5 card" ng-repeat="product in $ctrl.products" ng-if="product.type == 'delicacies'">
        <img class="card-img-top" src="{{product.pic_urls[0]}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h5 class="card-subtitle mb-2" ng-repeat="vars in product.vars">{{vars.price | currency }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Read More</a>
            <a href="#" class="btn btn-md btn-primary">Add to Cart</a>
        </div>
    </div>
</div>
