<link rel="stylesheet" href="../css/product.css">
<link rel="stylesheet" href="../css/custom.css">
<div class="wrapper">
    <div id="sidebar">

        <ul class="list-unstyled components navbar-nav">
            <li ng-repeat="tag in tags | orderBy: alphabet "><a class="nav-link" ng-if="langPos==0" ng-click="changeCurrentTagValue(tag)">{{tag}}</a><a class="nav-link"  ng-if="langPos==1">草本</a></li>
            
<!--
            <li><a href="#!/product/#delicacy" ng-if="langPos == 0">Delicacy</a><a class="nav-link" href="#!/product/#herbal" ng-if="langPos==1">美味</a>
</li>
            <li><a href="#!/product/#supplements" ng-if="langPos==0">Supplements</a><a class="nav-link" href="#!/product/#herbal" ng-if="langPos==1">
补品
</a></li>
-->
        </ul>
    </div>

    <div id="content">
        <h1>{{tagValue}}</h1>
      <div ng-repeat="tag in tags" ng-if="tag === tagValue">
       {{tag}}<br>
       <div ng-repeat="(id,product) in products" ng-if="product.tags[0].value === currentTagValue">
           {{product['title-en']}}
       </div>
        </div>
        <div class="row herbal" id="herbal">
            <div class="col-12 mx-auto">
               <h2 class="display-4 product-category">Herbal</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 card" ng-repeat="(id,product) in products" ng-if="product.type == 'Herbal'">
                <a href="#!/product/{{product.id}}"><img class="card-img-top" src="{{product.pic_urls[0]}}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title" ng-if="langPos == 0">{{product['title-en']}}</h5>
                    <h5 class="card-title" ng-if="langPos == 1">{{product['title-ch']}}</h5>
                    <h5 class="card-subtitle mb-2" ng-repeat="vars in product.vars">{{vars.price | currency }}</h5>
<!--                    <a href="#!/product/{{product.id}}" class="btn btn-sm btn-primary">Read More</a>-->
                    <a class="btn btn-md btn-primary" ng-click="$ctrl.addItem(product.vars[0].id)">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="row delicacies" id="delicacy">
            <div class="col-12 mx-auto">
                <h2 class="display-4 product-category">Delicaies</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 card" ng-repeat="product in products" ng-if="product.type == 'Delicacies'">
                <a href="#!/product/{{product.id}}"><img class="card-img-top" src="{{product.pic_urls[0]}}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title" ng-if="langPos == 0">{{product['title-en']}}</h5>
                    <h5 class="card-title" ng-if="langPos == 1">{{product['title-ch']}}</h5>
                    <h5 class="card-subtitle mb-2" ng-repeat="vars in product.vars">{{vars.price | currency }}</h5>
<!--                    <a href="#!/product/{{product.id}}" class="btn btn-sm btn-primary">Read More</a>-->
                    <a class="btn btn-md btn-primary" ng-click="$ctrl.addItem(product.vars[0].id)">Add to Cart</a>
                </div>
            </div>
        </div>


    </div>

</div>
<script src="app.js"></script>